.App {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  gap: 0 0;
  height: 100vh;
}

.App-header {
  grid-column: 1;
  grid-row: 1;
  background-color: #111B42;
  text-align: center;
  line-height: 10vh;
}

.App-content {
  grid-column: 1;
  grid-row: 2;
  overflow-y: auto;
}

.App-footer {
  grid-column: 1;
  grid-row: 3;
  background-color: #111B42;
  text-align: center;
  line-height: 10vh;
}
